# Исключение папок Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Исключение папок сборки и промежуточных файлов
bin/
obj/
[Bb]uild/

# Файлы управления пакетами
packages/
*.nupkg
*.snk

.env